.breed-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.cat-image {
  max-width: 400px;
  max-height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stars {
  display: inline-flex;
  position: relative !important;
}

.cat-breed-header {
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
}
.cat-stats {
  text-align: left;
  font-size: 20px;
  border-radius: 5px;
}

.origin {
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.cat-stars-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'a a b b';
  background-color: coral;
  color: gray;
  text-shadow: 0.2px 0.2px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.cat-stars-item {
  margin-left: 20px;
  margin-top: 5px;
  grid-area: a;
  /* border: solid 2px red; */
}

.cat-stars-item2 {
  margin-left: 20px;
  margin-top: 5px;
  grid-area: b;
  /* border: solid 2px red; */
}
@media only screen and (max-width: 770px) {
  .single-breed-header {
    text-align: center;
  }
  .badges {
    text-align: center;
  }
  .cat-stars-grid {
    grid-template-areas:
      'a a a a'
      'b b b b';
  }
}
